.body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}
.wrapper{
    height: 768px;
    width: 1366px;
    border: 1px solid black;
    background-image:url('../images/background.png');
    margin:0 auto;
}
header {
    height: 45px;
    width: 1064px;
    margin: 49px auto 45px;
}
a {
    display:block;
    color:white;
    text-decoration: none;
}
.logo {
position: relative;
}
.logo img{
float: left;
position: absolute;
    top: 0;
    left:0;
}
.logo img.first-logo {
    opacity: 1; /*не прозрачный;*/
}
.logo:hover img.first-logo {
    opacity: 0;}
/*cрабатывает при нажатии мыши*/

.logo img.second-logo {
    opacity: 0; /* прозрачный;*/
}
.logo:hover img.second-logo {
    opacity: 1;
}
.site-name {
    float: left;
    margin-left: 59px;
}
div.site-name a:hover {
    color: #F26522;
}
.milan {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
}
.holiday {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}
.contacts {
    float: right;
    font-size: 18px;
    line-height: 24px;
}

main {
    width: 1064px;
    margin: 0 auto;
    overflow: hidden;/*Переполняющее содержимое не отображается*/
}
div.tour-images {
    float: left;
    width: 29.2%;
    margin-right: 6%;
    margin-bottom: 35px;/*box-sizing: border-box;*/
}

.tour-images:nth-child(3n) {
    margin-right: 0;
    /*выбирает 3 и 6 div class="tour-images",остальным 6%*/
}

.wrapper-background {
    width:307px;
    padding: 2px;
    position: relative;
background: linear-gradient(to top,#0E0903 2%,#ffffff 100%);
}
div.tour-images.img {
    display: block;
    width: 100%;
}
div.tour-images p {
    color:white;
    font-size:18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}
div.tour-images:hover p {
    color: #f26522;
}
.info {
    background-color: #F26522;
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    transition: height 0.85s;
    overflow: hidden;
}
div.tour-images:hover .info {
    height: 63px;
}
.price {
    float: left;
    font-size: 20px;
    margin:  3px 0 0 20px;
}
.price span {
    font-size: 10px;
    font-weight: 400;
}
.view {
    float: right;
    font-size: 14px;
    margin: 30px 20px 15px 0;
}
.view:after {
    content: '\003E';
    /*http://rgft.net/charsandentities.html*/
}
footer {
    text-align: center;
    color: white;
    font-size: 12px;

}